[submodule "monero"]
	path = monero
	url = https://github.com/monero-project/monero
[submodule "electronero"]
	path = electronero
	url = https://github.com/electronero/electronero
	branch = release
[submodule "goldnero"]
	path = goldnero
	url = https://github.com/goldnero-project/goldnero
